<%- include("header") -%>
    <main>
        <section>
            <h2>About us</h2>
            <p>
                Ac tortor dignissim convallis aenean et tortor. Enim diam vulputate ut pharetra sit amet aliquam id.
                Amet justo donec enim diam vulputate ut pharetra. Placerat in egestas erat imperdiet. Ornare quam
                viverra orci sagittis. Nam at lectus urna duis. Amet luctus venenatis lectus magna fringilla urna
                porttitor. Vitae proin sagittis nisl rhoncus. Purus ut faucibus pulvinar elementum integer enim neque
                volutpat. Vitae proin sagittis nisl rhoncus.
            </p>
        </section>
    </main>
    </body>

    </html>