<%- include("partials/header") -%>

    <main>

        <section>

            <h2>First blog post</h2>
            <div class="subscribe-area">
                <a href="compose" class="button">Publish</a>
            </div>

            <% posts.forEach(function(post){ %>
                <h2>
                    <%= post.title %>
                </h2>
                <p>
                    <%= post.message.substring(0,100) %>...<a href="post/<%=post.id %>">Read more</a>
                </p>
                <% }) %>
        </section>
    </main>
    </body>

    </html>